<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://occultum.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>occultum.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>occultum</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$occultum</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AzureWebJobsDashboard" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=spwebhook;AccountKey=Yy8pFNqsXeywjz2YJr14fWMXGOFvMLIRZ5itKy6M0F7kXLEsxb0At97jTf8XvL3kAZs25ZtnxmknNv+4LW8kyw==;EndpointSuffix=core.windows.net" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AzureWebJobsDashboard_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=spwebhook;AccountKey=Yy8pFNqsXeywjz2YJr14fWMXGOFvMLIRZ5itKy6M0F7kXLEsxb0At97jTf8XvL3kAZs25ZtnxmknNv+4LW8kyw==;EndpointSuffix=core.windows.net" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AzureWebJobsStorage" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=spwebhook;AccountKey=Yy8pFNqsXeywjz2YJr14fWMXGOFvMLIRZ5itKy6M0F7kXLEsxb0At97jTf8XvL3kAZs25ZtnxmknNv+4LW8kyw==;EndpointSuffix=core.windows.net" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AzureWebJobsStorage_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=spwebhook;AccountKey=Yy8pFNqsXeywjz2YJr14fWMXGOFvMLIRZ5itKy6M0F7kXLEsxb0At97jTf8XvL3kAZs25ZtnxmknNv+4LW8kyw==;EndpointSuffix=core.windows.net" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SharePoint.WebHooks.Common.SQL.SharePointWebHooksEntities" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SharePoint.WebHooks.Common.SQL.SharePointWebHooksEntities, SharePoint.WebHooks.Common" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SharePointWebHooks" Order="5" Enabled="False">
          <Destination Path="Data Source=spwebhook.database.windows.net;Initial Catalog=SharePointWebHook;Persist Security Info=True;User ID=WebHooksAdmin;Password=Pass@word1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SharePoint.WebHooks.Common.SQL.SharePointWebHooks, SharePoint.WebHooks.Common" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AzureWebJobsDashboard-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AzureWebJobsStorage-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SharePoint.WebHooks.Common.SQL.SharePointWebHooksEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="SharePointWebHooks-Web.config Connection String">
      <ParameterValue>metadata=res://*/SQL.ListWebHooks.csdl|res://*/SQL.ListWebHooks.ssdl|res://*/SQL.ListWebHooks.msl;provider=System.Data.SqlClient;provider connection string="Data Source=spwebhook.database.windows.net;Initial Catalog=SharePointWebHook;Persist Security Info=True;User ID=WebHooksAdmin;Password=Pass@word1"</ParameterValue>
    </MSDeployParameterValue>
    <MsDeployDeclareParameters Include="ClientId">
      <Kind>XmlFile</Kind>
      <Scope>web.config$</Scope>
      <Match>/configuration/appSettings/add[@key='ClientId']/@value</Match>
      <Description>Value for ClientId here.</Description>
      <DefaultValue>fbc7b335-b61a-416e-8b3f-f50d99d2aee5</DefaultValue>
      <Value>fbc7b335-b61a-416e-8b3f-f50d99d2aee5</Value>
      <Tags>applicationSettings</Tags>
    </MsDeployDeclareParameters>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="SharePoint.WebHooks.Common.SQL.SharePointWebHooksEntities" />
  </ItemGroup>
</Project>